/* footer styles */
.footer {
  font-size: 0.9em;
  /* color: #fff; */
}

.footer .navbar-brand a {
  color: rgba(255,255,255,.5);
}

.footer .navbar-brand a:hover {
  text-decoration: none;
  color: rgba(255,255,255,.75);
}

.footer .divider {
  padding: 0.5em 0;
  color: rgba(255,255,255,.5);
}