/* header styles */
.header, .header .navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/* footer styles */
.footer, .footer .navbar-brand  {
  font-size: 0.9em;
}

.footer .navbar-brand a {
  color: rgba(255,255,255,.5);
}

.footer .navbar-brand a:hover {
  text-decoration: none;
  color: rgba(255,255,255,.75);
}

.footer .divider {
  padding: 0.5em 0;
  color: rgba(255,255,255,.5);
}

/* general styles */
a {
  color: #3f88c5;
}
